*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# lambda layerのライブラリ配置先
# .gitkeepを除いて全て無視
lib/lambda-layer/python/**
!lib/lambda-layer/python/.gitkeep

# 環境変数
.env
